<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-3">
      <center>
          <h1 class="m-4">Data-101</h1>
          <h3 class="m-3">Question/Answer generator system</h3>
          <hr>
          <!-- add here link for the Roulette too -->
          <h3>Upload a dataset</h3>
          <form method="POST" action="/upload" enctype="multipart/form-data" id="uploadForm">
            <h5>
              Choose a dataset : <input type="file" name="datasetFile" id="datasetFile" accept=".csv" /> 
              <button class="btn btn-primary mb-3" type="submit">Upload</button>
            </h5>
          </form>

          <form action="/column-selection" method="post">
            <!-- Dropdown for selecting column type -->
            <table>
              <thead id="tableHead">
              </thead>
              <tbody id="tableBody">
              </tbody>
            </table>

            <br>
            <p id="colchoices" style="display: none;">
              Choose column types from above and 
              <button class="btn btn-sm btn-primary" type="submit">Submit choices</button>
            </p>
          </form>

          <script>
            document.getElementById("uploadForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent form submission

            var fileInput = document.getElementById("datasetFile");
            var file = fileInput.files[0];

            if (file) {
              var formData = new FormData();
              formData.append("datasetFile", file);

              fetch("/upload", {
                method: "POST",
                body: formData
              })
              .then(response => response.json())
              .then(data => {
                var columnNames = data.column_names;
                // populateDropdown(columnNames);
                createTable(columnNames)
                document.getElementById("")
                document.getElementById("colchoices").style.display = ""
              })
              .catch(error => console.error("Error:", error));
            } else {
              alert("Please select a file.");
            }
            });

            function populateDropdown(columnNames) {
              var select = document.getElementById("columnSelect");
              
              // Clear existing options
              select.innerHTML = "";
              
              // Add new options for each column name
              columnNames.forEach(function(column) {
                var option = document.createElement("option");
                option.text = column;
                option.value = column;
                select.add(option);
              });
            }

            function createTable(data) {
              var tableBody = document.getElementById("tableBody");
              var tableHead = document.getElementById("tableHead");

              // Clear table body
              tableBody.innerHTML = "";
              
              var tr = document.createElement("tr"); 
              
              // Create column name cell
              var columnNameTh = document.createElement("th");
              columnNameTh.textContent = "Column Name ";
              tr.appendChild(columnNameTh);
              var columnNameTh = document.createElement("th");
              columnNameTh.textContent = "Data Type";
              tr.appendChild(columnNameTh);
              
              tableHead.appendChild(tr);

                // Create table rows
                data.forEach(function(row) {
                  var tr = document.createElement("tr"); 
                  tr.setAttribute("id", row);
                  
                  // Create column name cell
                  var columnNameTd = document.createElement("td");
                  columnNameTd.textContent = row;
                  tr.appendChild(columnNameTd);

                  // Create data type dropdown cell
                  var dataTypeTd = document.createElement("td");
                  var dropdown = createDropdown();
                  dropdown.setAttribute("name", row);
                  dataTypeTd.appendChild(dropdown);
                  tr.appendChild(dataTypeTd);

                  // Append row to table body
                  tableBody.appendChild(tr);
                });
              }

              function createDropdown() {
                var dropdown = document.createElement("select");
                dropdown.options.add(new Option("Categorical", "categorical"));
                dropdown.options.add(new Option("Numerical", "numerical"));
                dropdown.options.add(new Option("Ignore", "ignore"));
                return dropdown;
              }

              
          </script>

      </center>
      
  </div>

</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script>
    // Copy Button Event Listener
    document.getElementById("copyButton").addEventListener("click", function() {
      var url = "https://example.com"; // Replace with your desired URL

      // Copy the URL to the clipboard using the Clipboard API
      navigator.clipboard.writeText(url).then(function() {
        alert("URL copied to clipboard!");
      }, function() {
        alert("Failed to copy URL to clipboard!");
      });
    });


  </script>
</html>